.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
  padding: 18px;
  background: $basic-white;

  input {
    padding: 12px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $main-color;
    background: $bcg-input;
    border: none;

    &:hover {
      outline: 1px solid $main-color;
    }
  }

  &--range {
    min-width: 530px;
    height: 358px;
    padding: 50px;
    padding-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    padding: 20px 0;

    &--range {
      min-width: 100%;
      padding: 20px;
      padding-top: 50px;
    }
  }
}

.form__heading {
  margin-bottom: 35px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
