.license {
  padding: 150px 0;

  @media (max-width: $tablet-width) {
    padding: 75px 0;
  }
}

.license__heading {
  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.license__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  @media (max-width: $tablet-width) {
    button {
      width: 100%;
    }
  }
}

.license__about {
  padding: 0 210px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding: 0;
    text-align: left;
  }
}

.license__dialog {
  padding: 15px;
  padding-top: 0;
  border: none;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    min-width: 100%;
    margin: 0;
    padding: 15px;
  }
}

.license__dialog-wrapper {
  position: relative;

  button {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: transparent;
    border: none;

    // Крестик на css

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      right: 0;
      width: 40px;
      height: 6px;
      background-color: $main-color;
      border-radius: 15px;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.6;
    }

    &:active::before,
    &:active::after {
      opacity: 0.3;
    }
  }
}

.license__img {
  object-fit: contain;
  max-height: 90vh;

  @media (max-width: $tablet-width) {
    width: 100%;
    max-height: 85vh;
  }
}
