.page-header {
  display: flex;
  @media (min-width: $tablet-width) {
  }
}

.page-header__wrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
}
