.page-footer {
  padding-bottom: 50px;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    color: $text-black;
  }
}
