.partners {
  padding-bottom: 150px;
}

.projects__heading {
  text-align: center;
}

.partners__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;

  &--start {
    justify-content: start;
  }

  &--end {
    justify-content: end;
  }

  svg {
    fill: $bcg-circle;
  }

  &:hover svg {
    fill: $menu-btn;
  }
}
