.partners {
  padding-bottom: 150px;

  @media (max-width: $tablet-width) {
    padding-bottom: 75px;
  }
}

.partners__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;

  &--start {
    justify-content: start;
  }

  &--end {
    justify-content: end;
  }

  svg {
    fill: $bcg-circle;
  }

  &:hover svg {
    fill: $menu-btn;
  }

  @media (max-width: $tablet-width) {
    justify-content: center;

    svg {
      max-width: 100%;
    }
  }
}
