.promo {
  position: relative;
  min-height: 550px;

  &--revers {
    margin-bottom: 100px;

    .promo__video-bcg {
      order: 2;
    }

    .promo__form {
      order: 1;
      margin-right: -40px;
      margin-left: 0;
    }

    .promo__wrapper  {
      justify-content: end;
    }
  }
}

.promo__wrapper {
  display: flex;
  padding: 0;
}

.promo__video-bcg {
  box-sizing: border-box;
  height: 550px;
  width: 71%;
  padding: 70px 90px;
  background: $menu-btn;
}

.promo__video {
  position: relative;
  width: 100%;
  height: 100%;
}

.promo__form {
  z-index: 1;
  transform: translateY(17%);
  margin-left: -40px;
}
