.sanctions {
  padding: 150px 0;

  a {
    box-sizing: border-box;
    max-width: 276px;
  }
}

.sanctions__bottom {
  display: flex;
  gap: 47px;
}

.sanctions__about {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 50px;
  }
}


