.start {
  padding: 150px 0;

  @media (max-width: $tablet-width) {
    padding: 75px 0;
  }
}

.start__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.start__heading {
  max-width: 808px;

  &--mb20 {
    margin-bottom: 20px;
  }

}

.start__sub-heading {
  margin-bottom: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.start__info {
  display: flex;
  justify-content: space-between;
  gap: 90px;

  &--revers-order {

    & .start__text-wrapper {
      padding-right: 0;
      border-right: none;
    }

    & picture {
      order: 2;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;

    &--revers-order {
      .start__about {
        min-height: unset;
        margin-bottom: 30px;
      }

      & picture {
        order: 0;
      }
    }
  }
}

.start__text-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 43%;
  padding-right: 70px;
  border-right: solid 6px $bcg-input;

  a {
    box-sizing: border-box;
    max-width: 276px;
  }

  @media (max-width: $tablet-width) {
    max-width: unset;

    a {
      max-width: 100%;
    }
  }
}

.start__about {
  position: relative;

  @media (max-width: $tablet-width) {
    display: flex;
    min-height: 175px;

    &:nth-child(2) {
      align-items: center;
    }

    &:nth-child(3) {
      align-items: end;
    }
  }
}

.start__circle {
  position: absolute;
  right: -83px;
  display: block;
  width: 20px;
  height: 20px;
  background: $bcg-circle;
  border-radius: 50%;

  &--top {
    top: 0;
  }

  &--middle {
    top: 50%;
    transform: translateY(-50%);
  }

  &--bottom {
    bottom: 0;
  }

  &--active {
    background: $menu-btn;
  }
}

.start__img {
  object-fit: cover;
  max-width: 100%;

  @media (max-width: $tablet-width) {
    max-height: 440px;
  }
}
