.why {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 102px;
  color: $basic-white;
  background: $menu-btn;

  .why__item {
    svg {
      margin-bottom: 50px;
    }

    svg.different path {
      stroke: $basic-white;
    }

    svg.svg {
      fill: $basic-white;
    }
  }

  &--invert-color {
    color: $text-black;
    background: transparent;

    .why__item {
      svg.different path {
        stroke: $main-color;
      }

      svg.svg {
        fill: $main-color;
      }
    }
  }

  @media (max-width: $tablet-width) {
    padding: 75px 0;

    .why__item {
      svg {
        margin-bottom: 20px;
      }
    }
  }
}

.why__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__heading {
  max-width: 530px;
}

.why__list {
  display: flex;
  gap: 100px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .why__item {
    max-width: 180px;
  }
}
