//Colors
$main-color: #578ef4;

$menu-btn: #2e344c;

$basic-white: #ffffff;
$basic-black: #000000;

$bcg: #f7f9fe;
$bcg-input: #eaeaea;
$bcg-circle: #a3aebe;

$btn-hover: #2061d8;

$white-text: #fbfbfb;

$text-black: #292929;

// Viewprts
$tablet-width: 768px;
